---
layout: archive
author_profile: true
excerpt: "Ismail Mechbal is a passionate web developer who lives in Stockholm. He loves to tackle difficult challenges and rides awesome waves."
---
{% include base_path %}
<h3 class="archive__subtitle">Welcome</h3>
<p>Between, the pic on your left is when my son Adam decided to paint my face with an ice cream he didn't want to finish. <a href=""></a>More pics</p>
<P>My name’s Ismail Mechbal and live in Stockholm. I love to tackle difficult challenges and ride awesome waves.</p>
<p>I’m married to a pretty awesome woman, Laila, we’ve got a pretty awesome daughter, Sakina, and a cool son, Adam.</P>
<p>I got introduced to programming while in elementary school, basic was my first programming language, a short while after i started designing web sites, i reckon my first website was dedicated to IAM.</p>
<p>I was born in sunny Casablanca, Morocco, where i studied for my bachelor and later moved to Sweden where i studied at Uppsala University for a master in HCI "Human Computer Interaction".</p>
<p>I love building things, really! in 2011, together with some friends we launched <a href="http://www.unik.ma">Unik</a> a web development agency, it was a delightful experience to work with a broad set of amazing clients from different countries.</p>
<p>One thing i learned in my short experience trying to build products is "Making something is the easiest thing, maintaining it is the hardest thing" <em>Jason Fried</em>.</p>
<p>If you want to get in touch, you will be more likely to find me with a bunch of great guys riding some waves in the outskirt of Casablanca, if not, then probably skateboarding somewhere in Stockholm.</p>
<h3 class="archive__subtitle">Recent Posts</h3>
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}